
body {
  font-family: "Manrope", sans-serif;
  background: linear-gradient(135deg, #1e1e1e, #3b3b3b);
}
button:hover {
  opacity: 0.9;
  transform: scale(1.02);
  transition: all 0.2s ease;
}
.content {
  padding-top: 126px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 36px;
}
.counter {
  font-weight: 700;
  font-size: 32px;
  color: #ffffff;
}
.buttonPlus {
  display: block;
  width: 500px;
  height: 100px;
  background-color: #4CAF50;
  border-radius: 16px;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  color: #FFFFFF;
}
.buttonMinus {
  display: block;
  width: 500px;
  height: 100px;
  background-color: #F44336;
  border-radius: 16px;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  color: #FFFFFF;
}
.buttonReset {
  display: block;
  width: 500px;
  height: 100px;
  background-color: #FF9800;
  border-radius: 16px;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
  color: #FFFFFF;
}
